{# templates/account/recharge.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Recharge de compte{% endblock %}

{% block body %}
    <h1>Recharge de compte</h1>

    {{ form_start(form) }}
        {{ form_row(form.amount) }}
        <button class="btn">Recharger</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
