{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/game.css') }}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/game.js') }}"></script>
{% endblock %}

{% block title %}
    Casino Game
{% endblock %}

{% block body %}
    <div class="background-image"></div>
    <div class="content">
            <div class="game-container">
                <canvas id="casinoCanvas"></canvas>
            </div>
            <div class="spin-container">
                <button class="auto-spin-button">
                    <span class="material-symbols-outlined">
                        hdr_auto
                    </span>
                </button>
                <button id="spin-button" class="spin-button">
                    <span class="material-symbols-outlined">
                        autorenew
                    </span>
                </button>
                <button class="fast-spin-button">
                    <span class="material-symbols-outlined">
                        offline_bolt
                    </span>
                </button>
            </div>
    </div>
{% endblock %}