.page{
    background-image: url('../image/background.png');
    width: 100vw;
    height: 100%;
    background-size: cover;
}

.filtre-noir{
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    overflow-x: hidden;
}

.main-container {
    padding-top: 1rem;
    padding-bottom: 3rem;
}