{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="background-image">
        <div class="content">
            <p>Welcome to Symfony 5</p>
            <div class="buttons">
                <button>Button 1</button>
                <button>Button 2</button>
            </div>
        </div>
    </div>
{% endblock %}
